[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
requests = "*"
pre-commit = "*"
pytest-asyncio = "*"

[packages]
pyjwt = "*"
postdb = "*"
aiohttp = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
uvloop = {markers = "platform_system == 'linux'", version = "*"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
test = "python -m pytest"
lint = "pre-commit run --all-files"
